.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #777;
    color: #fff;
    border-top: 1px solid #000;
    text-align: right;
    padding-right: 10px;
}

.header {
    padding-left: 10px;
    width: 100%;
    background: #777;
    color: #fff;
    border-bottom: 1px solid #000;
}

.controls {
    width: 100px;
    border: 1px solid white;
    background: #777;
    color: #fff;
}